%div.user_form
 = form_for @user do |f|
  - if @user.errors.any?
   %div.error_messages
    %h2
     Form is invalid
    %ul
     - for message in @user.errors.full_messages
      %li>
       = message
  %div.user_info_header
   %h2
    User Information
   %div.user_info
    %p
     = f.label :first_name
     %br/
     = f.text_field :first_name
    %p
     = f.label :last_name
     %br/
     = f.text_field :last_name
    %p
     = f.label :serial_number
     %br/
     = f.text_field :serial_number
    %p
     = f.label :email
     %br/
     = f.text_field :email
  %div.account_info_header
   %h2
    Account Information
   %div.account_info
    %p
     = f.label :username
     %br/
     = f.text_field :username
    %p
     = f.label :password
     %br/
     = f.password_field :password
    %p
     = f.label :password_confirmation
     %br/
     = f.password_field :password_confirmation
  %p.button
   = f.submit