// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_form {
  background: #cccccc;
  text-align: center;
  padding-right: 55px;
  max-width: 1280px;
  min-width: 980px;
  padding-bottom: 5px;
  border: #666666 solid 1px;
}

.user_info_header h2 {
  font-family: helvetica, arial, sans-serif;
  color: #666666;
  font-size: 16pt;
  font-weight: bold;
}

.account_info_header h2 {
  font-family: helvetica, arial, sans-serif;
  color: #666666;
  font-size: 16pt;
  font-weight: bold;
}

.section {
  box-shadow: #B8B8B8 0 0 80px;
  margin-top: 5px;
  margin:  0 auto;
  max-width: 1280px;
  min-width: 980px;
  background: #666666;
}

.section_title {
  background: #666666;
  padding-right: 55px;
  max-width: 1280px;
  min-width: 980px;
}

.section_title h1 {
  text-align: center;
  color: #00008b;
  font-family: helvetica, arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 2px;
}