%div#user_nav
 - if current_user
  Logged in as
  = current_user.username
  = link_to "Log out", log_out_path
 - else
  = link_to "Sign up", sign_up_path
  or
  = link_to "log in", log_in_path