!!! 5
%html
 %head
  %title
   Resource Manager
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
 %body
  %div.titlebar
   = render "layouts/menubar"
   = render "layouts/user_nav"
  = render "layouts/message_display"
  = yield
